*{
  margin: 0;
}

.App{
  background: #fafafa;
}
.app_header{
  position:sticky;
  top:0;
  z-index:1;
  background-color: white !important; 
  border-bottom: 1px solid lightgray;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

}
.app_header_image{
  object-fit: contain;
}
.input-container{
  width: 350px;
  display: flex;
  flex-direction: column;
}
.MuiInput-root{
  margin-bottom: 10px !important;
}
.profile{
  border-radius: 28px;
  position: fixed;
  top: 15%;
  right: 15%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 40px;
  height: 200px;
  border: 1px solid lightgray;
}
.profile_container{
  text-align: center;
}
.profile_avatar{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-left: 15px; 
}


@media all and (max-width: 1200px){
  .profile{
    display: none;
  }
  .hole_post{
    display:flex;
    justify-content:center !important;
  }
  
}

@media all and (max-width: 500px){
  .input-container{
    width: 220px;
  }
}